<!doctype html>
<head>
</head>
<body>

<h1>TripAdvisor shuttle tracker</h1>

<form action="/time" method="POST">
  <h3>Pickup location?</h3>
  <select name="stop">
    <option value="kendall">Kendall Sq</option>
    <option value="central">Central Sq</option>
  </select>

  <h3>Going to?</h3>
  <select name="destination">
    <option value="newton141">141 Needham St</option>
    <option value="kendrick">Kendrick St</option>
  </select>

  <h3>Press when the shuttle arrives:</h3>
  <input type="submit" value="It's here!" />

</form>

</body>
</html>
