<!doctype html>
<head>
</head>
<body>

<h1>TripAdvisor shuttle tracker</h1>

<form action="/time" method="POST">
  <h3>Pickup location?</h3>
  <select name="stop">
    {% for s in stops %}
      <option selected="{{ s.default }}" value="{{ s.val }}">{{ s.name }}</option>
    {% endfor %}
  </select>

  <h3>Going to?</h3>
  <select name="destination">
    {% for d in destinations %}
      <option {% if d.default %}selected="true"{% endif %} value="{{ d.val }}">{{ d.name }}</option>
    {% endfor %}
  </select>

  <h3>Press when the shuttle arrives:</h3>
  <input type="submit" value="It's here!" />

</form>

</body>
</html>
